 <nav>
      {{> link text="skills" href="/skills" }}
      {{> link text="summary" href="/summary"  }}
      {{> link text="education" href="/education"  }}
       {{> link text="work" href="/work" noline=true }}
    </nav>